<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/zf/mstest/mapper/TeamScoreMapper.xml -->
<mapper namespace="zf.mstest.mapper.TeamScoreMapper">

    <resultMap id="TeamScoreResultMap" type="TeamScore">
        <id property="id" column="id" />
        <result property="groupName" column="group_name" />
        <result property="teamName" column="team_name" />
        <result property="representativeUnit" column="representative_unit" />
        <result property="teamNumber" column="team_number" />
        <result property="projectCode" column="project_code" />
        <result property="ranking" column="ranking" />
        <result property="medal" column="medal" />
        <result property="score" column="score" />
    </resultMap>

    <select id="findTeamByGroup" resultMap="TeamScoreResultMap">
        SELECT *
        FROM team_score
        WHERE group_name = #{group}
        ORDER BY ranking ASC
    </select>

</mapper>